.hidden { display: none; }

#map button {
  margin: 4px;
  padding: 8px;
  background: #111;
  color: #ccc;
  border: 1px solid #444;
}

#map button:disabled {
  opacity: 0.3;
}

#dialogue {
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 15px;
  background: #080808;
}

#dialogue-choices button {
  width: 100%;
  margin: 5px 0;
}
